@import '../../../sassStyles/abstracts/_variables';
@import '../../../sassStyles/base/animations';
.next{
    animation: next .3s linear;
}
.previous{
    animation: previous .3s linear;
}
.resetPassword{
    display:flex;
    
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 3.2rem;
    position: relative;
    .back{
        position: fixed;
        animation: nextBackHide .3s linear;
        z-index: 9999999999999999999999999999;
        left: .8rem;
        top: 1.3rem;
        font-size: 1.4rem;
        color: $color-blue;
        border:none;
        background-color: $color-white;
        cursor: pointer;
    }
    .logo{
        width: 100%;
        margin-bottom: 4rem;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        max-width: 32.6rem;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-self: center;
        
    }
    .passwordCondition p{
        color: #838383;
        font-size: 1.1rem;
    }
    .emailResend{
        p{
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 1.28rem;
            a{
                color: $color-blue;
                text-decoration: underline;
                cursor: pointer;
            }
        } 
    }
    h4{
        font-size: 1.4rem;
        text-align: center;
    }
    h3{
        width: 100%;
        max-width: 26.5rem;
        align-self: center;
        font-weight: 700;
        margin-bottom: 2.4rem;
        font-size: 1.4rem;
        text-align: center;
    }
    label{
        font-weight: 400;
        font-size: 1.4rem;
        margin-bottom: .64rem;
        max-width: 32.6rem;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .emailRegisteredNotice{
        margin: .8rem 0 1.6rem 0;
        p{
            font-size: 1.1rem;
        }
    }
    .steps{
        max-width: 22rem;
        width: 98%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-self: center;
        justify-self: center;
        margin-top: 1.6rem;
        .stepNo{
            height: 2rem;
            width: 2rem;
            display: flex;
            align-self: center;
            justify-self: center;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 100%;
            background-color: $color-blue;
            color: $color-white;
            font-size: 1.2rem;
        }
        .stepcontent{
            width: 100%;
            margin: 0.8rem;
            text-align: center;
        }
        .stepcontent p{
            font-size: 1.5rem;
            font-weight: 400;
        }
        .direction{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .line{
                width: 3.2rem;
                margin: 15px;
                height: 1px;
                background-color:$color-blue;
                transform: rotate(90deg);
            }
        }

    }


}
